# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

In [1]:
import pandas
pandas.__version__

'1.4.4'

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [2]:
import numpy as np
import pandas as pn

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [3]:
c=pn.Series([123,456,789,543])
c

0    123
1    456
2    789
3    543
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [4]:
c.values

array([123, 456, 789, 543], dtype=int64)

In [5]:
c.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
car=pn.Series([643,432,785,231],index=['AUDI','BMW','TATA','BENZ'])
car

AUDI    643
BMW     432
TATA    785
BENZ    231
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [8]:
car['BMW']

432

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [9]:
car[0]

643

We can give both the array of values and the index meaningful labels themselves:

In [10]:
car.name='Sports'
car.index.name='Model'
car

Model
AUDI    643
BMW     432
TATA    785
BENZ    231
Name: Sports, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [11]:
np.log(car)

Model
AUDI    6.466145
BMW     6.068426
TATA    6.665684
BENZ    5.442418
Name: Sports, dtype: float64

We can also filter according to the values in the `Series`:

In [12]:
car[car>600]

Model
AUDI    643
TATA    785
Name: Sports, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [13]:
car_dct={'AUDI':643,'BMW':432,'TATA':785,'BENZ':231}
print(car_dct)
pn.Series(car_dct)

{'AUDI': 643, 'BMW': 432, 'TATA': 785, 'BENZ': 231}

AUDI    643
BMW     432
TATA    785
BENZ    231
dtype: int64

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [14]:
d={"Province":["FL","FL","NH","NH","ZH"],
  "Year":[2000,2001,2002,2003,2004],
  "Lit":[1.1,2.2,3.3,4.4,5.5]}
print(d)
d=pn.DataFrame(d)
d

{'Province': ['FL', 'FL', 'NH', 'NH', 'ZH'], 'Year': [2000, 2001, 2002, 2003, 2004], 'Lit': [1.1, 2.2, 3.3, 4.4, 5.5]}

  Province  Year  Lit
0       FL  2000  1.1
1       FL  2001  2.2
2       NH  2002  3.3
3       NH  2003  4.4
4       ZH  2004  5.5

To change the order of the columns:

In [15]:
d1=pn.DataFrame(d,columns=["Year","Province","Lit"])
d1

   Year Province  Lit
0  2000       FL  1.1
1  2001       FL  2.2
2  2002       NH  3.3
3  2003       NH  4.4
4  2004       ZH  5.5

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [16]:
d1['All']=d1.Year/d1.Lit
d1

   Year Province  Lit          All
0  2000       FL  1.1  1818.181818
1  2001       FL  2.2   909.545455
2  2002       NH  3.3   606.666667
3  2003       NH  4.4   455.227273
4  2004       ZH  5.5   364.363636

In [17]:
d1['Assign']=pn.Series(range(5),index=[0,1,2,3,4])
d1

   Year Province  Lit          All  Assign
0  2000       FL  1.1  1818.181818       0
1  2001       FL  2.2   909.545455       1
2  2002       NH  3.3   606.666667       2
3  2003       NH  4.4   455.227273       3
4  2004       ZH  5.5   364.363636       4

Passing a dicts where the values are dicts is also possible

In [18]:
d1.to_dict()

{'Year': {0: 2000, 1: 2001, 2: 2002, 3: 2003, 4: 2004},
 'Province': {0: 'FL', 1: 'FL', 2: 'NH', 3: 'NH', 4: 'ZH'},
 'Lit': {0: 1.1, 1: 2.2, 2: 3.3, 3: 4.4, 4: 5.5},
 'All': {0: 1818.181818181818,
  1: 909.5454545454545,
  2: 606.6666666666667,
  3: 455.2272727272727,
  4: 364.3636363636364},
 'Assign': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4}}

In [19]:
pn.DataFrame(d1.to_dict())

   Year Province  Lit          All  Assign
0  2000       FL  1.1  1818.181818       0
1  2001       FL  2.2   909.545455       1
2  2002       NH  3.3   606.666667       2
3  2003       NH  4.4   455.227273       3
4  2004       ZH  5.5   364.363636       4

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [20]:
d=[{'a':i,'b':10*i}for i in range(6)]
print(d)
pn.DataFrame(d)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 10}, {'a': 2, 'b': 20}, {'a': 3, 'b': 30}, {'a': 4, 'b': 40}, {'a': 5, 'b': 50}]

   a   b
0  0   0
1  1  10
2  2  20
3  3  30
4  4  40
5  5  50

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [21]:
pn.DataFrame([{'aa':1,'bb':2},{'bb':3,'cc':6}])

    aa  bb   cc
0  1.0   2  NaN
1  NaN   3  6.0

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [23]:
pn.DataFrame(np.random.randint(2,12),columns=['arm','shot'],index=['a','b','c'])

   arm  shot
a    4     4
b    4     4
c    4     4

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you take reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [26]:
indx=pn.Index([32,5,31,9,2,6])
indx

Int64Index([32, 5, 31, 9, 2, 6], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [27]:
indx[1]

5

In [28]:
indx[::]

Int64Index([32, 5, 31, 9, 2, 6], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [30]:
print(indx.size,indx.shape,indx.ndim,indx.dtype)

6 (6,) 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via normal means:

In [31]:
indx[1]=0

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [33]:
r=np.random.RandomState(15)
s=pn.Series(r.randint(0,15,4))
s

0     8
1     5
2    12
3     5
dtype: int32

In [34]:
d=pn.DataFrame(r.randint(0,15,(5,4)),columns=['A','B','C','D'])
d

    A   B   C   D
0   7   0  12  11
1   7  11   5   6
2  13   1  13   7
3   0  14  10   4
4   9   7   5   3

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [35]:
np.exp(s)

0      2980.957987
1       148.413159
2    162754.791419
3       148.413159
dtype: float64

Or, for a slightly more complex calculation:

In [36]:
np.sin(d*np.pi/4)

          A         B             C             D
0 -0.707107  0.000000  3.673940e-16  7.071068e-01
1 -0.707107  0.707107 -7.071068e-01 -1.000000e+00
2 -0.707107  0.707107 -7.071068e-01 -7.071068e-01
3  0.000000 -1.000000  1.000000e+00  1.224647e-16
4  0.707107 -0.707107 -7.071068e-01  7.071068e-01

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [37]:
a=pn.Series({'Alaska':23286,'Delhi':378238,'Mumbai':221133,'Bengalore':122323},name='area')
p=pn.Series({'Kolkata':9823286,'Delhi':21378238,'Mumbai':36221133,'Bengalore':13122323},name='population')
print(a)
p

Alaska        23286
Delhi        378238
Mumbai       221133
Bengalore    122323
Name: area, dtype: int64

Kolkata       9823286
Delhi        21378238
Mumbai       36221133
Bengalore    13122323
Name: population, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [38]:
p/a

Alaska              NaN
Bengalore    107.276007
Delhi         56.520598
Kolkata             NaN
Mumbai       163.797954
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [43]:
a.index | p.index

C:\Users\Arnabjyoti Ray\AppData\Local\Temp\ipykernel_940\1282131335.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  a.index | p.index

Index(['Alaska', 'Bengalore', 'Delhi', 'Kolkata', 'Mumbai'], dtype='object')

In [44]:
A=pn.Series([2,4,6],index=[0,1,2])
B=pn.Series([1,3,5],index=[1,2,3])
print(A)
print(B)
B
A+B

0    2
1    4
2    6
dtype: int64
1    1
2    3
3    5
dtype: int64

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [45]:
A.add(B,fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

# Data wrangling
Getting the data in the shape that we want is the single most time consuming task in the life of the Data Scientist. Sometimes it can be the most frustrating.

## Merge operations
By merging we mean combining different data sets by linking rows with one or more keys. The basic syntax is very simple.

In [52]:
d1

   Year Province  Lit          All  Assign
0  2000       FL  1.1  1818.181818       0
1  2001       FL  2.2   909.545455       1
2  2002       NH  3.3   606.666667       2
3  2003       NH  4.4   455.227273       3
4  2004       ZH  5.5   364.363636       4

In [53]:
d2=pn.DataFrame({"Province":["FL","NH","ZH"],"Population":["100000","200000","300000"]})
d2

  Province Population
0       FL     100000
1       NH     200000
2       ZH     300000

Let's say we want a dataset with year, literacy, province and population. We can create it from `df` and `df2`.

In [54]:
# merge is smart! If there are overlapping names, it uses those for the merge
d1.merge(d2)

   Year Province  Lit          All  Assign Population
0  2000       FL  1.1  1818.181818       0     100000
1  2001       FL  2.2   909.545455       1     100000
2  2002       NH  3.3   606.666667       2     200000
3  2003       NH  4.4   455.227273       3     200000
4  2004       ZH  5.5   364.363636       4     300000

If the column names are different, you need to specify them explicitely

In [56]:
d3=pn.DataFrame({"province":["FL","NH"],"Population":["100000","200000"]})
d3
d1.merge(d3,right_on='province',left_on='Province')

   Year Province  Lit          All  Assign province Population
0  2000       FL  1.1  1818.181818       0       FL     100000
1  2001       FL  2.2   909.545455       1       FL     100000
2  2002       NH  3.3   606.666667       2       NH     200000
3  2003       NH  4.4   455.227273       3       NH     200000

What happened? Zuid Holland is weg!

By default `merge` does inner joins. If you want a different type of join, you can specify it.

In [57]:
d4=pn.DataFrame({"Province":["FL","NH","UT"],"Population":["100000","200000","700000"]})
d1.merge(d4,how='outer')

     Year Province  Lit          All  Assign Population
0  2000.0       FL  1.1  1818.181818     0.0     100000
1  2001.0       FL  2.2   909.545455     1.0     100000
2  2002.0       NH  3.3   606.666667     2.0     200000
3  2003.0       NH  4.4   455.227273     3.0     200000
4  2004.0       ZH  5.5   364.363636     4.0        NaN
5     NaN       UT  NaN          NaN     NaN     700000

Check this out:

In [59]:
d5=pn.DataFrame({"Province":["FL","NH","FL"],"Population":["100000","200000","500000"]})
print(d5)
d1.merge(d5,how='outer')

  Province Population
0       FL     100000
1       NH     200000
2       FL     500000

   Year Province  Lit          All  Assign Population
0  2000       FL  1.1  1818.181818       0     100000
1  2000       FL  1.1  1818.181818       0     500000
2  2001       FL  2.2   909.545455       1     100000
3  2001       FL  2.2   909.545455       1     500000
4  2002       NH  3.3   606.666667       2     200000
5  2003       NH  4.4   455.227273       3     200000
6  2004       ZH  5.5   364.363636       4        NaN

This was a many-to-many merge. Even though if you think about it, the behavior is what you expect, you might still not think about it and be surprised!

### Combining data with overlap
Sometimes some data is missing, and it can be "patched" with another dataset. Let's take a look.

In [60]:
sr1=pn.Series([np.nan,2.5,np.nan,3.5,4.5,np.nan],index=['f','e','d','c','b','a'])
sr2=pn.Series(np.arange(len(sr1),dtype=np.float64),index=['f','e','d','c','b','a'])

In [61]:
sr1

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [62]:
sr2

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    5.0
dtype: float64

Let's say we want to update `a` with the values from `b`. The num-pythonic way to do that is

In [63]:
pn.Series(np.where(pn.isnull(sr1),sr2,sr1),index=sr1.index)

f    0.0
e    2.5
d    2.0
c    3.5
b    4.5
a    5.0
dtype: float64

That's a bit verbose for something so simple. What about this:

In [64]:
sr1.combine_first(sr2)

f    0.0
e    2.5
d    2.0
c    3.5
b    4.5
a    5.0
dtype: float64